/* Start Global CSS */
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
}

.container{
    width: 85%;
    margin: auto;
}

ul{
    list-style:none;
}


a{
    text-decoration:none;
}

img{
    width: 100%;
}

/* End Globeal CSS */


/* Star the navbare */
nav{
position: fixed;
width: 100%;
background-color: rgba(255,255,255,0.9);


}

nav .container{
    display: flex;
    justify-content: space-between;
    padding-block: 20px 15px;
 
    flex-wrap: wrap;
    align-items: baseline;
    border-bottom: 1px solid #fff;
   
}

nav .container .logo h2{
    color:#111827 ;
    font-weight:800;
    font-size: 26px;
}

nav .container .logo h2 span{
    color:#4F46E5;
}


nav .container .nav-links ul{
    display: flex;
    gap: 30px;
}

nav .container .nav-links ul li .anchor{
    color: #111827;
}

nav .container .nav-links ul li a{
    color: #525C69;
    font-weight: 600;
    font-size: 18px;
}
nav .container .nav-links ul li a:hover{
    color:#111827;
}


nav .container .btn button{
    width: 180px;
    padding:20px 15px;
    border: none;
    border-radius: 10px;
    background-color:#4F46E5 ;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}
/* End the navbare */

/* Start the hero section */
.hero-section{
 background-color: #030712;
 height: 100vh;

}

.hero-section .container{
    display: flex;
    justify-content: space-between;
   
}
.hero-section .container .right{
    width: 38%;
     margin-top: 150px;
  

}
.hero-section .container .right h1{
    color:#fff;
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 6px;

}
.hero-section .container .right .trust{
    color:#a5b4fc;
    font-weight: 500;
    font-size: 14px;
    background-color: #0D1029;
    padding: 4px 10px;
    border: 1px solid #1A1D48;
    border-radius: 15px;
}
.hero-section .container .right h1 span{
    color:#759AF8; 
}
.hero-section .container .right p{
   color: #9ca3af;
   font-weight: 400;
   font-size: 20px;

}
.hero-section .container .right .btns {
    border-bottom: 1px solid #585A62;
    padding-bottom: 40px;
}
.hero-section .container .right .btns button{
   height: 50px;
   width: 210px;
   color: #fff;
   font-weight:500;
   font-size:16px;
   border-radius: 12px;
   margin-bottom: 20px;
}
.hero-section .container .right .btns button.deploy{
   background-color: #4F46E5;
   border: none;
   margin-right: 5px;
}
.hero-section .container .right .btns button.view{
   background-color: transparent;
   border: 1px solid #585A62;
}
.hero-section .container .right .rates{
    display: flex;
    gap: 20px;
    text-align: center;
    padding-bottom: 400px;
}

.hero-section .container .right .rates p{
    color: #7781E5;
    font-weight: 700;
    font-size:30px ;
}

.hero-section .container .right .rates span{
    color: #6b7280;
    font-weight: 400;
    font-size: 14px;
    margin-top: 1px;
}



.hero-section .container .left{
    width: 54%;
    margin-top: 200px;
    font-weight: 400;
    font-size: 14px;
   
}

.hero-section .container .left .left-card{
      border: 1px solid #1D2432;
      width: 570px;
      background-color:#0F1423;
      padding: 20px 0px 15px 20px;
      border-radius: 12px;
}
.hero-section .container .left .left-card .terminal{
    border-bottom: 1px solid #1D2432;
    padding-bottom: 6px;
}

.hero-section .container .left .left-card .login{
    padding-bottom: 10px;
}

.hero-section .container .left span{
    color:#6b7280;
}
.hero-section .container .left p{
    color:#6b7280;
}

.hero-section .container .left span.blue{
    color: #38bdf8;
}
.hero-section .container .left span.green{
    color: #05df72;
}
.hero-section .container .left span.purple{
    color: #818cf8;
}

/* End the hero section */


/* Start the rates section */

.rates1-section{
    background-color: #F9FAFB;
    border-bottom: 1px solid #EFF0F3;
    padding-bottom: 25px;
}

.rates1-section .container .rates{
    display: flex;
    justify-content: space-around;

}

.rates1-section .container .rates p{
    color: #4f46e5;
    font-weight: 700;
    font-size:48px ;
    
}

.rates1-section .container .rates span{
    color: #6b7280;
    font-weight: 500;
    font-size: 14px;
    margin-top: 1px;
  
    
}
/* End the rates section */

/* Start the pruducts section */
.products{
    background-color:#F9FAFB ;
}
.products .container{
    padding-top: 50px;
    text-align: center;
}

.products .container span{
    font-weight: 500;
    font-size: 14px;
    color: #4338ca;
    background-color:#E0E7FF;
    padding:5px 8px;
    border-radius:10px ;
    text-align: center;
}
.products .container h2{
    color: #111827;
    font-weight: 700;
    font-size: 36px;
}
.products .container p{
    color:#4b5563 ;
    font-weight:400 ;
    font-size:18px ;
    line-height: 28px;
}
.products .container .products-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.products .container .products-items .item{
    width: 30%;
    border: 1px solid #fff;
    background-color: #fff;
    margin-bottom: 30px;
   padding:40px 30px;
   margin-right: 10px;
   border-radius: 20px;
   text-align: start;
}

.products .container .products-items .item h3{
    color: #111827;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}
.products .container .products-items .item p{
    font-weight: 400;
    font-size: 16px;
}






/* End the pruducts section */